* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('images/gym man.jpg') no-repeat center;
  background-size: cover;
  height: 900px;
}

header {
  display: flex;
  padding: 2% 3% 0;
}

header h1 {
  flex: 2;
  color: #ecf0f1;
}

header span {
  color: #ee680f;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  header {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  nav {
    display: flow-root;
  }
  li {
    margin-top: 10px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ecf0f1;
}

.banner {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner p, .banner h1 {
  color: #ecf0f1;
  text-transform: uppercase;
}

.banner p {
  font-size: 20px;
}

.banner h1 {
  font-size: 60px;
}

.banner span {
  color: #ee680f;
}

.banner a {
  padding: 10px 30px;
  background-color: #ee680f;
}

.about, .services, .contacts {
  padding: 5% 20%;
  color: #ecf0f1;
}

.about, .contacts {
  background-color: #0B0A0C;
}

.about>h1, .services>h1, .contacts>h1 {
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.about span, .services span, .contacts span {
  color: #ee680f;
}

.about-wrapper, .services-wrapper, .contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.services-wrapper, .contacts-wrapper {
  column-gap: 50px;
  row-gap: 20px;
  text-align: center;
}

.about-wrapper {
  column-gap: 40px;
  row-gap: 20px;
  justify-content: center;
}

.about-img {
  background: url('images/gym woman.jpg') no-repeat center;
  background-size: cover;
  width: 350px;
  height: 200px;
}

.about-text {
  flex: 1;
  color: #ecf0f1;
  text-align: left;
  min-width: 300px;
}

@media screen and (max-width: 1149px) {
  .about-text {
    text-align: center;
  }
}

.about-text h1 {
  text-transform: capitalize;
  font-size: 25px;
}

.about-text p {
  font-size: 14px;
}

.services {
  background-color: #161516;
}

.service, .contact {
  flex: 1;
  min-width: 200px;
}

.service img {
  width: 70px;
  margin-bottom: 20px;
}

.service p:first-of-type {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

.services p:last-child {
  font-size: 14px;
}

.contact i {
  color: #ee680f;
  font-size: 30px;
  margin-bottom: 20px;
}

.contact:first-child {
  text-transform: capitalize;
}

.contact p:first-of-type {
  margin-bottom: 5px;
}

.contact p {
  font-size: 14px;
}

footer {
  padding: 3%;
  background-color: black;
}

footer p {
  color: #ecf0f1;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}