* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background-color: #ecf0f1; */
}

nav {
  display: flex;
  background-color: black;
  padding: 10px;
  padding-right: 0;
}

nav div {
  flex: 1;
  font-size: 35px;
  color: white;
}

nav ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.banner {
  background: url('images/desk.jpg') no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner>* {
  width: 50%;
  color: white;
}

.banner h1 {
  font-size: 80px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 30px auto;
  background-color: white;
  text-align: center;
  column-gap: 50px;
}

.main-content div {
  flex: 1;
}

.contact-us {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/bridge.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

.contact-us>* {
  width: 30%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.contact-us input, .contact-us textarea {
  border: 1px solid black;
}

.contact-us>*:focus {
  outline: none;
}

.contact-us h1 {
  color: white;
  padding: 0;
}

.contact-us a {
  width: 10%;
  color: white;
  background-color: #d35400;
  text-decoration: none;
}