* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/living room.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  margin: 25px 60px;
}

img {
  width: 100px;
}

li{
  list-style: none;
  margin-left: 30px;
  display: inline-block;
  
}

li:after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #047573;
  transition-duration: .5s;
}

li:hover::after{
  width: 100%;
}

li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

nav{
  float: right;
}

.container *{
  color: white;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h1, .container button{
  text-transform: uppercase;
}

h1{
  font-size: 70px;
}

p{
  margin: 10px 0 30px;
}

p, button{
  font-size: 17px;
}

.container button{
  margin-left: 20px;
}

button{
  background: none;
  border: 1px solid #047573;
  border-radius: 20px;
  padding: 5px 10px;
  width: 150px;
  cursor: pointer;
  position: relative;

}

button:focus{
  outline: none;
}

button:hover{
  border: none;
}

button span{
  width: 0;
  height: 100%;
  background-color: #047573;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: -1;
  transition-duration: .5s;
}

button:hover span{
  width: 100%;
}